# ASSIGNMENT 1 --WEB SCRAPING

In [1]:
# 1.Write a python program to display all the header tags from wikipedia.org.

from bs4 import BeautifulSoup #importing the BeautifulSoup library
import requests               #importing request library
page=requests.get('https://en.wikipedia.org/wiki/Main_Page') #send get request to the webpage server to get the source code of the page
print(page)
soup=BeautifulSoup(page.content) #page content
soup

header_tags = ["h1","h2","h3","h4","h5","h6"]       #creating list of all header tags
for tags in soup.find_all(header_tags):            #loop for display all the header tags
    print(tags.text)                               #print  text of header tags

<Response [200]>
Main Page
Welcome to Wikipedia
From today's featured article
Did you know ...
In the news
On this day
Today's featured picture
Other areas of Wikipedia
Wikipedia's sister projects
Wikipedia languages
Navigation menu

Personal tools


Namespaces


Views


Navigation


Contribute


Tools


Print/export


In other projects


Languages

In [2]:
#2 Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)and make data frame.


from bs4 import BeautifulSoup   #importing BeautifulSoup library
import requests                 #importing requests library
import pandas as pd              #importing pandas library

page=requests.get("https://www.imdb.com/chart/top/")    #send get request to the webpage server to get the source code of the page
page

soup=BeautifulSoup(page.content,"html.parser")       #page content
soup.prettify()

movies = []                   # make a variable 

for movie in soup.find_all('td',class_="titleColumn"):   #for loop with tag line and class name of movies name
    movie = movie.get_text().replace('\n'," ")      
    movie = movie.strip(" ")
    movies.append(movie)   
print("Movie names:\n",movies[:99])    #print 100 movies name


year =[]  # make a variable for year of release
for y in soup.find_all('span',class_="secondaryInfo"):   #for loop with tag line and class name of year of release
    year.append(y.get_text())
print("year of release:",year[:99])   # print 100 datas of year of release


ratings=[]   # make a variable for ratings
for r in soup.find_all('td',class_='ratingColumn imdbRating'):     #for loop with tag line and class name of ratings
    ratings.append(r.get_text().strip())
print("ratings:",ratings[:99])      # print 100 datas of ratings

data=pd.DataFrame({'movienames':movies,'Ratings': ratings,'Yearofrelease': year})    # make a dataframe of 100 datas
data.loc[:99]    # print 100 datas

Movie names:
 ['1.       The Shawshank Redemption (1994)', '2.       The Godfather (1972)', '3.       The Dark Knight (2008)', '4.       The Godfather Part II (1974)', '5.       12 Angry Men (1957)', "6.       Schindler's List (1993)", '7.       The Lord of the Rings: The Return of the King (2003)', '8.       Pulp Fiction (1994)', '9.       The Lord of the Rings: The Fellowship of the Ring (2001)', '10.       Il buono, il brutto, il cattivo (1966)', '11.       Forrest Gump (1994)', '12.       Fight Club (1999)', '13.       The Lord of the Rings: The Two Towers (2002)', '14.       Inception (2010)', '15.       The Empire Strikes Back (1980)', '16.       The Matrix (1999)', '17.       Goodfellas (1990)', "18.       One Flew Over the Cuckoo's Nest (1975)", '19.       Se7en (1995)', '20.       Shichinin no samurai (1954)', "21.       It's a Wonderful Life (1946)", '22.       The Silence of the Lambs (1991)', '23.       Cidade de Deus (2002)', '24.       Saving Private Ryan (1998)', '25.       La vita è bella (1997)', '26.       Interstellar (2014)', '27.       The Green Mile (1999)', '28.       Star Wars (1977)', '29.       Terminator 2: Judgment Day (1991)', '30.       Back to the Future (1985)', '31.       Sen to Chihiro no kamikakushi (2001)', '32.       Psycho (1960)', '33.       The Pianist (2002)', '34.       Gisaengchung (2019)', '35.       Léon (1994)', '36.       The Lion King (1994)', '37.       Gladiator (2000)', '38.       American History X (1998)', '39.       The Departed (2006)', '40.       The Usual Suspects (1995)', '41.       The Prestige (2006)', '42.       Whiplash (2014)', '43.       Casablanca (1942)', '44.       Seppuku (1962)', '45.       The Intouchables (2011)', '46.       Hotaru no haka (1988)', '47.       Modern Times (1936)', '48.       Once Upon a Time in the West (1968)', '49.       Rear Window (1954)', '50.       Nuovo Cinema Paradiso (1988)', '51.       Alien (1979)', '52.       City Lights (1931)', '53.       Apocalypse Now (1979)', '54.       Memento (2000)', '55.       Raiders of the Lost Ark (1981)', '56.       Django Unchained (2012)', '57.       WALL·E (2008)', '58.       The Lives of Others (2006)', '59.       Sunset Blvd. (1950)', '60.       Paths of Glory (1957)', '61.       The Great Dictator (1940)', '62.       The Shining (1980)', '63.       Avengers: Infinity War (2018)', '64.       Witness for the Prosecution (1957)', '65.       Aliens (1986)', '66.       Spider-Man: Into the Spider-Verse (2018)', '67.       American Beauty (1999)', '68.       Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)', '69.       The Dark Knight Rises (2012)', '70.       Oldeuboi (2003)', '71.       Amadeus (1984)', '72.       Joker (2019)', '73.       Inglourious Basterds (2009)', '74.       Coco (2017)', '75.       Toy Story (1995)', '76.       Braveheart (1995)', '77.       Das Boot (1981)', '78.       Avengers: Endgame (2019)', '79.       Mononoke-hime (1997)', '80.       Once Upon a Time in America (1984)', '81.       Good Will Hunting (1997)', '82.       Top Gun: Maverick (2022)', '83.       Kimi no Na wa. (2016)', '84.       Requiem for a Dream (2000)', '85.       3 Idiots (2009)', "86.       Singin' in the Rain (1952)", '87.       Toy Story 3 (2010)', '88.       Tengoku to jigoku (1963)', '89.       Star Wars: Episode VI - Return of the Jedi (1983)', '90.       Capharnaüm (2018)', '91.       Eternal Sunshine of the Spotless Mind (2004)', '92.       2001: A Space Odyssey (1968)', '93.       Reservoir Dogs (1992)', '94.       Jagten (2012)', '95.       Idi i smotri (1985)', '96.       Citizen Kane (1941)', '97.       M - Eine Stadt sucht einen Mörder (1931)', '98.       Lawrence of Arabia (1962)', '99.       North by Northwest (1959)']
year of release: ['(1994)', '(1972)', '(2008)', '(1974)', '(1957)', '(1993)', '(2003)', '(1994)', '(2001)', '(1966)', '(1994)', '(1999)', '(2002)', '(2010)', '(1980)', '(1999)', '(1990)', '(1975)', '(1995)', '(1954)', '(1946)', '(1991)', '(2002)', '(1998)', '(1997)', '(2014)', '(1999)', '(1977)', '(1991)', '(1985)', '(2001)', '(1960)', '(2002)', '(2019)', '(1994)', '(1994)', '(2000)', '(1998)', '(2006)', '(1995)', '(2006)', '(2014)', '(1942)', '(1962)', '(2011)', '(1988)', '(1936)', '(1968)', '(1954)', '(1988)', '(1979)', '(1931)', '(1979)', '(2000)', '(1981)', '(2012)', '(2008)', '(2006)', '(1950)', '(1957)', '(1940)', '(1980)', '(2018)', '(1957)', '(1986)', '(2018)', '(1999)', '(1964)', '(2012)', '(2003)', '(1984)', '(2019)', '(2009)', '(2017)', '(1995)', '(1995)', '(1981)', '(2019)', '(1997)', '(1984)', '(1997)', '(2022)', '(2016)', '(2000)', '(2009)', '(1952)', '(2010)', '(1963)', '(1983)', '(2018)', '(2004)', '(1968)', '(1992)', '(2012)', '(1985)', '(1941)', '(1931)', '(1962)', '(1959)']
ratings: ['9.2', '9.2', '9.0', '9.0', '9.0', '8.9', '8.9', '8.8', '8.8', '8.8', '8.8', '8.7', '8.7', '8.7', '8.7', '8.7', '8.7', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.2']

                                           movienames Ratings Yearofrelease
0            1.       The Shawshank Redemption (1994)     9.2        (1994)
1                       2.       The Godfather (1972)     9.2        (1972)
2                     3.       The Dark Knight (2008)     9.0        (2008)
3               4.       The Godfather Part II (1974)     9.0        (1974)
4                        5.       12 Angry Men (1957)     9.0        (1957)
..                                                ...     ...           ...
95                      96.       Citizen Kane (1941)     8.3        (1941)
96  97.       M - Eine Stadt sucht einen Mörder (1...     8.3        (1931)
97                98.       Lawrence of Arabia (1962)     8.3        (1962)
98                99.       North by Northwest (1959)     8.2        (1959)
99                          100.       Vertigo (1958)     8.2        (1958)

[100 rows x 3 columns]

In [3]:
#3 Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.


from bs4 import BeautifulSoup     # import respective libraries
import requests
import pandas as pd

page=requests.get("https://www.imdb.com/india/top-rated-indian-movies/")  # send request to get the source code
page

soup=BeautifulSoup(page.content,"html.parser")   # page content
soup.prettify()


movies = []   # make  a variable 

for movie in soup.find_all('td',class_="titleColumn"):   # for loop with tag line and column name of movies name
    movie = movie.get_text().replace('\n'," ")
    movie = movie.strip(" ")
    movies.append(movie)
    
print("Movies names:\n",movies[:100])    # print 100 datas


year =[]     # make a variable
for y in soup.find_all('span',class_="secondaryInfo"):   #for loop with tag line and column name of year of release
    year.append(y.get_text())
    
print("year of release:",year[:99])   #print 100 datas of year of release


ratings=[] # make a variable
for r in soup.find_all('td',class_='ratingColumn imdbRating'):    #for loop with tag line and column name of ratings
    ratings.append(r.get_text().strip())
print("ratings:",ratings[:99])    #print 100 datas of ratings

data=pd.DataFrame({'movienames':movies,'Ratings':ratings,'Yearofrelease':year})    # make a dataframe
data.loc[:99]  # print dataframe in the form of table

Movies names:
 ['1.       Ramayana: The Legend of Prince Rama (1993)', '2.       Rocketry: The Nambi Effect (2022)', '3.       Golmaal (1979)', '4.       Nayakan (1987)', '5.       777 Charlie (2022)', '6.       Anbe Sivam (2003)', '7.       Jai Bhim (2021)', '8.       Pariyerum Perumal (2018)', '9.       3 Idiots (2009)', '10.       Apur Sansar (1959)', '11.       Manichitrathazhu (1993)', '12.       Kantara (2022)', '13.       #Home (2021)', '14.       Black Friday (2004)', '15.       Kumbalangi Nights (2019)', '16.       Soorarai Pottru (2020)', '17.       Taare Zameen Par (2007)', '18.       C/o Kancharapalem (2018)', '19.       Kireedam (1989)', '20.       Dangal (2016)', '21.       Kaithi (2019)', '22.       Jersey (2019)', '23.       96 (2018)', '24.       Asuran (2019)', '25.       Thevar Magan (1992)', '26.       Natsamrat (2016)', '27.       Drishyam 2 (2021)', '28.       Visaaranai (2015)', '29.       Thalapathi (1991)', '30.       Pather Panchali (1955)', '31.       Sita Ramam (2022)', '32.       Sarpatta Parambarai (2021)', '33.       Jaane Bhi Do Yaaro (1983)', '34.       Thani Oruvan (2015)', '35.       Sardar Udham (2021)', '36.       Aparajito (1956)', '37.       Drishyam (2013)', '38.       Khosla Ka Ghosla! (2006)', '39.       Vada Chennai (2018)', '40.       Ratsasan (2018)', '41.       Chupke Chupke (1975)', '42.       Anniyan (2005)', '43.       Peranbu (2018)', '44.       Mahanati (2018)', '45.       Satya (1998)', '46.       Gangs of Wasseypur (2012)', '47.       Bangalore Days (2014)', '48.       Premam (2015)', '49.       Agent Sai Srinivasa Athreya (2019)', '50.       Drishyam (2015)', '51.       Devasuram (1993)', '52.       Super Deluxe (2019)', '53.       Bhaag Milkha Bhaag (2013)', '54.       Tumbbad (2018)', '55.       Andhadhun (2018)', '56.       Vikram Vedha (2017)', '57.       Guide (1965)', '58.       Chithram (1988)', '59.       Vikram (2022)', '60.       Kannathil Muthamittal (2002)', '61.       Zindagi Na Milegi Dobara (2011)', '62.       Sairat (2016)', '63.       Shahid (2012)', '64.       Aruvi (2016)', '65.       Paan Singh Tomar (2012)', '66.       Iruvar (1997)', '67.       Chhichhore (2019)', '68.       Drishyam 2 (2022)', '69.       Swades: We, the People (2004)', '70.       Pyaasa (1957)', '71.       Chak De! India (2007)', '72.       Spadikam (1995)', '73.       Munna Bhai M.B.B.S. (2003)', '74.       Uri: The Surgical Strike (2019)', '75.       Mudhalvan (1999)', '76.       Black (2005)', '77.       Jo Jeeta Wohi Sikandar (1992)', '78.       Dhuruvangal Pathinaaru (2016)', '79.       Lagaan: Once Upon a Time in India (2001)', '80.       Hera Pheri (2000)', '81.       Papanasam (2015)', '82.       Pudhu Pettai (2006)', '83.       Queen (2013)', '84.       PK (2014)', '85.       Article 15 (2019)', '86.       Talvar (2015)', '87.       Sarfarosh (1999)', '88.       OMG: Oh My God! (2012)', '89.       Soodhu Kavvum (2013)', '90.       Mandela (2021)', '91.       Sholay (1975)', '92.       Udaan (2010)', '93.       Barfi! (2012)', '94.       Jigarthanda (2014)', '95.       The Legend of Bhagat Singh (2002)', '96.       Kaakkaa Muttai (2014)', '97.       Ustad Hotel (2012)', '98.       Theeran Adhigaaram Ondru (2017)', '99.       Angoor (1982)', '100.       Rang De Basanti (2006)']
year of release: ['(1993)', '(2022)', '(1979)', '(1987)', '(2022)', '(2003)', '(2021)', '(2018)', '(2009)', '(1959)', '(1993)', '(2022)', '(2021)', '(2004)', '(2019)', '(2020)', '(2007)', '(2018)', '(1989)', '(2016)', '(2019)', '(2019)', '(2018)', '(2019)', '(1992)', '(2016)', '(2021)', '(2015)', '(1991)', '(1955)', '(2022)', '(2021)', '(1983)', '(2015)', '(2021)', '(1956)', '(2013)', '(2006)', '(2018)', '(2018)', '(1975)', '(2005)', '(2018)', '(2018)', '(1998)', '(2012)', '(2014)', '(2015)', '(2019)', '(2015)', '(1993)', '(2019)', '(2013)', '(2018)', '(2018)', '(2017)', '(1965)', '(1988)', '(2022)', '(2002)', '(2011)', '(2016)', '(2012)', '(2016)', '(2012)', '(1997)', '(2019)', '(2022)', '(2004)', '(1957)', '(2007)', '(1995)', '(2003)', '(2019)', '(1999)', '(2005)', '(1992)', '(2016)', '(2001)', '(2000)', '(2015)', '(2006)', '(2013)', '(2014)', '(2019)', '(2015)', '(1999)', '(2012)', '(2013)', '(2021)', '(1975)', '(2010)', '(2012)', '(2014)', '(2002)', '(2014)', '(2012)', '(2017)', '(1982)']
ratings: ['8.5', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0']

                                           movienames Ratings Yearofrelease
0   1.       Ramayana: The Legend of Prince Rama (...     8.5        (1993)
1          2.       Rocketry: The Nambi Effect (2022)     8.4        (2022)
2                             3.       Golmaal (1979)     8.4        (1979)
3                             4.       Nayakan (1987)     8.4        (1987)
4                         5.       777 Charlie (2022)     8.4        (2022)
..                                                ...     ...           ...
95                    96.       Kaakkaa Muttai (2014)     8.0        (2014)
96                       97.       Ustad Hotel (2012)     8.0        (2012)
97          98.       Theeran Adhigaaram Ondru (2017)     8.0        (2017)
98                            99.       Angoor (1982)     8.0        (1982)
99                  100.       Rang De Basanti (2006)     8.0        (2006)

[100 rows x 3 columns]

In [4]:
#4 Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm

from bs4 import BeautifulSoup     # import respective libraries
import requests
import pandas as pd

page=requests.get("https://presidentofindia.nic.in/former-presidents.htm") # send requests to get source code
page

soup=BeautifulSoup(page.content)   # page content
soup

president_name=[]     # make a variable
terms=[]      # make a variable


for name in soup.find_all('div',class_="presidentListing"):   # scrapped president name
    president_name.append(name.h3.get_text().strip())
    
print("President_name:\n",president_name)   # print president name


for term in soup.find_all('div',class_="presidentListing"):     # scrapped terms of office
    terms.append(term.p.get_text().strip("Term of Office:"))
    
print("Terms of office:\n","\n",terms,"\n")     # print terms of office

data=pd.DataFrame({'President_name':president_name,'Terms_of_office':terms})   # make a dataframe
data.loc[:]  # print data

President_name:
 ['Shri Ram Nath Kovind (birth - 1945)', 'Shri Pranab Mukherjee (1935-2020)', 'Smt Pratibha Devisingh Patil (birth - 1934)', 'DR. A.P.J. Abdul Kalam (1931-2015)', 'Shri K. R. Narayanan (1920 - 2005)', 'Dr Shankar Dayal Sharma (1918-1999)', 'Shri R Venkataraman (1910-2009)', 'Giani Zail Singh (1916-1994)', 'Shri Neelam Sanjiva Reddy (1913-1996)', 'Dr. Fakhruddin Ali Ahmed (1905-1977)', 'Shri Varahagiri Venkata Giri (1894-1980)', 'Dr. Zakir Husain (1897-1969)', 'Dr. Sarvepalli Radhakrishnan (1888-1975)', 'Dr. Rajendra Prasad (1884-1963)']
Terms of office:

 ['25 July, 2017 to 25 July, 2022', '25 July, 2012 to 25 July, 2017', '25 July, 2007 to 25 July, 2012', '25 July, 2002 to 25 July, 2007', '25 July, 1997 to 25 July, 2002', '25 July, 1992 to 25 July, 1997', '25 July, 1987 to 25 July, 1992', '25 July, 1982 to 25 July, 1987', '25 July, 1977 to 25 July, 1982', '24 August, 1974 to 11 February, 1977', '3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974', '13 May, 1967 to 3 May, 1969', '13 May, 1962 to 13 May, 1967', '26 January, 1950 to 13 May, 1962']

,President_name,Terms_of_office
0,Shri Ram Nath Kovind (birth - 1945),"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 19..."
11,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962"

In [5]:
#5Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
 #a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
 #b) Top 10 ODI Batsmen along with the records of their team and rating.
 #c) Top 10 ODI bowlers along with the records of their team and rating.
    
#5a.

from bs4 import BeautifulSoup    # print respective libraries
import requests
import pandas as pd

page=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")  # send  request to get source code
page

soup=BeautifulSoup(page.content)   # page content
soup

matches=[]    # make an empty variables
points=[]   # make an empty variables
rating=[]   # make an empty variables


scrapped_items=soup.find_all('td',class_="table-body__cell u-center-text")    # scrapped items from specific class
scrapped_items     

for i in range(0,len(scrapped_items)-1,2):   # for loop to the scrapped matches and points data
    matches.append(scrapped_items[i])
    points.append(scrapped_items[i+1])

for r in soup.find_all("td",class_="table-body__cell u-text-right rating"):  #for loop to scrap the rating data
     rating.append(r.get_text().strip())
        

data=pd.DataFrame({'Matches':matches,'Points':points,'Ratings':rating})    # make a dataframe
data.loc[:10]    # print 10 datas in table format

   Matches   Points Ratings
0     [30]  [3,400]     113
1     [32]  [3,572]     112
2     [35]  [3,866]     110
3     [22]  [2,354]     107
4     [24]  [2,392]     100
5     [30]  [2,753]      92
6     [30]  [2,677]      89
7     [19]  [1,380]      73
8     [41]  [2,902]      71
9     [23]  [1,214]      53
10    [27]  [1,254]      46

In [6]:
#5b

from bs4 import BeautifulSoup    # import respective libaries
import requests
import pandas as pd

page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")  # send request to get the source code
print(page)

soup=BeautifulSoup(page.content)   # page content
soup

team=[]   # make an empty variable
for t in soup.find_all('span',class_="table-body__logo-text"):   #for loop to scrapped data from team
    team.append(t.get_text())
print("\n Teams: \n",team[:10])   #print 

rating=[]     # make an empty variable
for r in soup.find_all('td',class_="table-body__cell rating"):   #for loop to scrapped data from ratings
    rating.append(r.get_text())
print("\n Ratings: \n",rating[:10])

data=pd.DataFrame({'Teams':team,'Ratings':rating})    #make a dataframe 
data.loc[:10]   # print data in table format

<Response [200]>

 Teams:
 ['PAK', 'SA', 'SA', 'AUS', 'AUS', 'ENG', 'IND', 'IND', 'NZ', 'PAK']

 Ratings:
 ['779', '766', '759', '747', '719', '710', '707', '704', '701', '690']

   Teams Ratings
0    PAK     779
1     SA     766
2     SA     759
3    AUS     747
4    AUS     719
5    ENG     710
6    IND     707
7    IND     704
8     NZ     701
9    PAK     690
10    WI     679

In [7]:
#5c

from bs4 import BeautifulSoup    # importing respective libraries
import requests
import pandas as pd

page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")   # send requests to  get source code
print(page)

soup=BeautifulSoup(page.content) # page content
soup

team=[]   #  make an empty variable
for t in soup.find_all('span',class_="table-body__logo-text"):  #for loop for scrapped data from team
    team.append(t.get_text())
print("\n Teams: \n",team[:10])   # print data in an empty variables

rating=[]     #make an empty variable
for r in soup.find_all('td',class_="table-body__cell rating"):   # for loop for scrapped data from rating
    rating.append(r.get_text())
print("\n Ratings: \n",rating[:10])   #print data in an empty variables
 
data=pd.DataFrame()    # make a dataframe
data['Teams']=team
data['Ratings']=rating

data.loc[:10]   # print 10 data in table format

<Response [200]>

 Teams:
 ['AUS', 'AUS', 'PAK', 'NZ', 'AUS', 'BAN', 'AFG', 'BAN', 'AFG', 'ENG']

 Ratings:
 ['727', '665', '661', '656', '655', '655', '650', '640', '635', '632']

   Teams Ratings
0    AUS     727
1    AUS     665
2    PAK     661
3     NZ     656
4    AUS     655
5    BAN     655
6    AFG     650
7    BAN     640
8    AFG     635
9    ENG     632
10   AFG     631

In [8]:
#6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
#a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
#b) Top 10 women’s ODI Batting players along with the records of their team and rating.
#c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

#6a.

from bs4 import BeautifulSoup    # import respective libraries
import requests
import pandas as pd

page=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")   #send request to get source code
page

soup=BeautifulSoup(page.content)   #page content
soup

matches=[]    #make an empty variable matches
points=[]     #make an empty variable points
rating=[]     #make an empty variable rating


scrapped_items=soup.find_all('td',class_="table-body__cell u-center-text")   #scrapped data from a specific class 
scrapped_items

for i in range(0,len(scrapped_items)-1,2):  #for loop to scrap data and put it in an empty variables 
    matches.append(scrapped_items[i])
    points.append(scrapped_items[i+1])

for r in soup.find_all("td",class_="table-body__cell u-text-right rating"):  #for loop to scrap rating data and put in an empty variable rating
     rating.append(r.get_text().strip())


data=pd.DataFrame()   # make dataframe
data['Matches']=matches
data['Points']=points
data['Ratings']=rating

data.loc[:10]  # print 10 data using loc function in the table format

   Matches   Points Ratings
0     [26]  [3,098]     119
1     [25]  [2,904]     116
2     [27]  [2,820]     104
3     [24]  [2,425]     101
4     [24]  [2,334]      97
5     [12]    [932]      78
6      [8]    [572]      72
7     [24]  [1,519]      63
8      [8]    [353]      44
9     [14]    [548]      39
10     [9]      [0]       0

In [9]:
#6b

from bs4 import BeautifulSoup   # import respective libraries
import requests
import pandas as pd
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting") # send requests to get the source code
print(page)

soup=BeautifulSoup(page.content)   # page content
soup

team=[]   # an empty variable
for t in soup.find_all('span',class_="table-body__logo-text"):   #for loop to scrap data and put in an empty variable team
    team.append(t.get_text())
print("\n Teams: \n",team[:10])  # print 10 data in team variable

rating=[]     # an empty variable
for r in soup.find_all('td',class_="table-body__cell rating"):    # for loop to scrap data and put in an empty variable rating
    rating.append(r.get_text())
print("\n Ratings: \n",rating[:10])  # print 10 data in rating variable

data=pd.DataFrame()   # make dataframe
data['Teams']=team
data['Ratings']=rating

data.loc[:10]   # print 10 data using loc function

<Response [200]>

 Teams:
 ['AUS', 'SA', 'ENG', 'IND', 'IND', 'AUS', 'AUS', 'NZ', 'SL', 'AUS']

 Ratings:
 ['749', '732', '725', '716', '714', '710', '701', '661', '655', '642']

   Teams Ratings
0    AUS     749
1     SA     732
2    ENG     725
3    IND     716
4    IND     714
5    AUS     710
6    AUS     701
7     NZ     661
8     SL     655
9    AUS     642
10   ENG     609

In [10]:
#6c

from bs4 import BeautifulSoup    # # import respective libraries
import requests
import pandas as pd
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder") # send requests to get the source code
print(page)

soup=BeautifulSoup(page.content) # page content
soup

team=[]  # an empty variable
for t in soup.find_all('span',class_="table-body__logo-text"): # for loop to scrap data and put in an empty variable team
    team.append(t.get_text())
print("\n Teams: \n",team[:10])  # print 10 data in team variable

rating=[]   # an empty variable
for r in soup.find_all('td',class_="table-body__cell rating"):   # for loop to scrap data and put in an empty variable team
    rating.append(r.get_text())
print("\n Ratings: \n",rating[:10])   # print 10 data in rating variable

data=pd.DataFrame()  # make dataframe
data['Teams']=team
data['Ratings']=rating

data.loc[:10]   # print 10 data using loc function

<Response [200]>

 Teams:
 ['AUS', 'ENG', 'NZ', 'SA', 'IND', 'AUS', 'AUS', 'IND', 'ENG', 'PAK']

 Ratings:
 ['374', '357', '356', '349', '322', '270', '246', '214', '207', '205']

   Teams Ratings
0    AUS     374
1    ENG     357
2     NZ     356
3     SA     349
4    IND     322
5    AUS     270
6    AUS     246
7    IND     214
8    ENG     207
9    PAK     205
10   ENG     201

In [11]:
#7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
#i) Headline
#ii) Time
#iii) News Link

#7  
from bs4 import BeautifulSoup  # import required libraries
import requests
import pandas as pd
page=requests.get("https://www.cnbc.com/world/?region=world")  # send request to get the source code
print(page)

soup=BeautifulSoup(page.content) # page content
soup

headline=[]   # make an empty variable
for h in soup.find_all('div',class_="RiverHeadline-headline RiverHeadline-hasThumbnail"):  #for loop to scrap the data and put it in variable headline
    headline.append(h.get_text())
print("\n Headlines: \n",headline)  # print data in headline variable

time=[]  # make an empty variable
for t in soup.find_all('span',class_="RiverByline-datePublished"):  #for loop to scrap the data and put it in variable time
    time.append(t.get_text())
print("\n Time: \n",time) # print data in time variable

links = []   # make an empty variable
for link in soup.findAll('a'):   #for loop to scrap the data and put it in variable links
    links.append(link.get('href'))
    
print("\n Newslink: \n",links) # print data in links variable

<Response [200]>

 Headlines:
 ['Manufacturing orders from China down 40% in demand collapse', "Asset manager names 9 'cheap' stocks to buy as recession fears grow", 'Celsius clients with collateral stuck on failed crypto platform turn to bankruptcy court for relief', 'Startup backed by a Tesla investor says it can deliver a $300,000 flying car by 2025', "Amazon's cloud unit faces cost-sensitive customers as economic fears mount", "Op-ed: Authoritarian rulers suffered new setbacks in 2022. Here's what the democratic world needs to do to seize the momentum", 'Big Tech is set for a comeback, asset manager says, naming 2 stocks to get ahead of it', 'These 10 cars have the greatest potential lifespan — and 6 are Toyotas', 'Chinese F1 Grand Prix canceled for 2023', 'Beijing, Shenzhen loosen more Covid curbs as China easing gathers pace', 'The 10 countries with the least paid vacation—the U.S. is No. 2', "35% of millionaires say it's 'going to take a miracle' to be ready for retirement, report finds", 'Indonesia evacuates villagers as volcano erupts on Java island', 'Netherlands eliminates U.S. in round 16 of the World Cup', "The Fed's path to a 'Goldilocks' economy just got a little more complicated", 'Pentagon debuts its new stealth bomber, the B-21 Raider', "The U.S. wants the EU to be strict with China. But Europe can't afford it", 'U.S. expects reduced tempo in Ukraine fighting to continue for months', "CNBC Pro Talks: Evercore's Mark Mahaney finds bargains in big tech and answers your questions", 'Tech layoffs send visa holders on frantic search for employment to avoid deportation']

 Time:
 ['4 hours ago', '4 hours ago', '4 hours ago', '4 hours ago', '4 hours ago', '4 hours ago', '3 hours ago', '3 hours ago']

 Newslink:

In [12]:
#8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days.
#https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
#Scrape below mentioned details :
#i) Paper Title ii) Authors iii) Published Date iv) Paper URL



from bs4 import BeautifulSoup   # import required libraries
import requests
import pandas as pd
page=requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")  # send requests to get the source code
print(page)

soup=BeautifulSoup(page.content)  # page content
soup

paper_title=[]   # make an empty variable
for p in soup.find_all('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):  #for loop to scrap the data and put it in variable paper_title
    paper_title.append(p.get_text())
print("\n paper_title: \n",paper_title)  # print data in paper_title variable

authors=[]   # make an empty variable
for a in soup.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):   #for loop to scrap the data and put it in variable authors
    authors.append(a.get_text())
print("\n Authors: \n",authors)    # print data in authors variable

publisheddate=[]     # make an empty variable
for d in soup.find_all('span',class_="sc-1thf9ly-2 dvggWt"):    #for loop to scrap the data and put it in variable publisheddate
    publisheddate.append(d.get_text())
print("\n Published_date: \n",publisheddate)  # print data in publishedate variable

paperurl=[]     # make an empty variable
for u in soup.findAll('a'):   #for loop to scrap the data and put it in variable paperurl
    paperurl.append(u.get('href'))
print("\n Paper_url: \n",paperurl)    # print data in paperurl variable

<Response [200]>

 paper_title:
 ['Reward is enough', 'Making sense of raw input', 'Law and logic: A review from an argumentation perspective', 'Creativity and artificial intelligence', 'Artificial cognition for social human–robot interaction: An implementation', 'Explanation in artificial intelligence: Insights from the social sciences', 'Making sense of sensory input', 'Conflict-based search for optimal multi-agent pathfinding', 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning', 'The Hanabi challenge: A new frontier for AI research', 'Evaluating XAI: A comparison of rule-based and example-based explanations', 'Argumentation in artificial intelligence', 'Algorithms for computing strategies in two-player simultaneous move games', 'Multiple object tracking: A literature review', 'Selection of relevant features and examples in machine learning', 'A survey of inverse reinforcement learning: Challenges, methods and progress', 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values', 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models', 'Integrating social power into the decision-making of cognitive agents', "“That's (not) the output I expected!” On the role of end user expectations in creating explanations of AI systems", 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies', 'Algorithm runtime prediction: Methods & evaluation', 'Wrappers for feature subset selection', 'Commonsense visual sensemaking for autonomous driving – On generalised neurosymbolic online abduction integrating vision and semantics', 'Quantum computation, quantum theory and AI']

 Authors:
 ['Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S. ', 'Evans, Richard, Bošnjak, Matko and 5 more', 'Prakken, Henry, Sartor, Giovanni ', 'Boden, Margaret A. ', 'Lemaignan, Séverin, Warnier, Mathieu and 3 more', 'Miller, Tim ', 'Evans, Richard, Hernández-Orallo, José and 3 more', 'Sharon, Guni, Stern, Roni, Felner, Ariel, Sturtevant, Nathan R. ', 'Sutton, Richard S., Precup, Doina, Singh, Satinder ', 'Bard, Nolan, Foerster, Jakob N. and 13 more', 'van der Waa, Jasper, Nieuwburg, Elisabeth, Cremers, Anita, Neerincx, Mark ', 'Bench-Capon, T.J.M., Dunne, Paul E. ', 'Bošanský, Branislav, Lisý, Viliam and 3 more', 'Luo, Wenhan, Xing, Junliang and 4 more', 'Blum, Avrim L., Langley, Pat ', 'Arora, Saurabh, Doshi, Prashant ', 'Aas, Kjersti, Jullum, Martin, Løland, Anders ', 'Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Johannes ', 'Pereira, Gonçalo, Prada, Rui, Santos, Pedro A. ', 'Riveiro, Maria, Thill, Serge ', 'Kenny, Eoin M., Ford, Courtney, Quinn, Molly, Keane, Mark T. ', 'Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyton-Brown, Kevin ', 'Kohavi, Ron, John, George H. ', 'Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srikrishna ', 'Ying, Mingsheng ']

 Published_date:
 ['October 2021', 'October 2021', 'October 2015', 'August 1998', 'June 2017', 'February 2019', 'April 2021', 'February 2015', 'August 1999', 'March 2020', 'February 2021', 'October 2007', 'August 2016', 'April 2021', 'December 1997', 'August 2021', 'September 2021', 'June 2021', 'December 2016', 'September 2021', 'May 2021', 'January 2014', 'December 1997', 'October 2021', 'February 2010']

 Paper_url:
 ['#skip-to-content-anchor', 'http://www.elsevier.com', 'https://account.elsevier.com/auth', 'https://elsevier.com/about', 'https://www.elsevier.com/connect', 'https://www.elsevier.com/about/careers', 'https://elsevier.com/about', 'https://www.elsevier.com/connect', 'https://www.elsevier.com/about/careers', 'https://www.elsevier.com/rd-solutions', 'https://www.elsevier.com/clinical-solutions', 'https://www.elsevier.com/research-platforms', 'https://www.elsevier.com/research-intelligence', 'https://www.elsevier.com/education', 'https://www.elsevier.com/solutions', 'https://www.elsevier.com/rd-solutions', 'https://www.elsevier.com/clinical-solutions', 'https://www.elsevier.com/research-platforms', 'https://www.elsevier.com/research-intelligence', 'https://www.elsevier.com/education', 'https://www.elsevier.com/solutions', 'https://www.elsevier.com/authors', 'https://www.elsevier.com/editors', 'https://www.elsevier.com/reviewers', 'https://www.elsevier.com/librarians', 'https://www.elsevier.com/strategic-partners', 'https://www.elsevier.com/open-access', 'https://www.elsevier.com/societies', 'https://www.elsevier.com/authors', 'https://www.elsevier.com/editors', 'https://www.elsevier.com/reviewers', 'https://www.elsevier.com/librarians', 'https://www.elsevier.com/strategic-partners', 'https://www.elsevier.com/open-access', 'https://www.elsevier.com/societies', 'https://www.elsevier.com/books-and-journals', 'https://webshop.elsevier.com/?utm_source=ecom&utm_medium=top&utm_campaign=webshop', 'https://www.elsevier.com/books-and-journals', 'https://webshop.elsevier.com/?utm_source=ecom&utm_medium=top&utm_campaign=webshop', 'https://global-checkout.elsevier.com', 'https://account.elsevier.com/auth', 'https://www.sciencedirect.com/science/journal/00043702', 'https://www.editorialmanager.com/artint/default.aspx', 'https://www.elsevier.com/', 'https://www.elsevier.com/search-results?labels=journals', '/artificial-intelligence', '/artificial-intelligence/most-downloaded-articles', 'https://www.sciencedirect.com/science/journal/00043702', 'https://www.editorialmanager.com/artint/default.aspx', 'https://www.sciencedirect.com/science/journal/00043702', 'https://www.elsevier.com/journals/artificial-intelligence/0004-3702/guide-for-authors', 'https://www.editorialmanager.com/artint/default.aspx', 'https://authors.elsevier.com/tracking/landingpage/selection.do', 'https://www.elsevier.com/journals/artificial-intelligence/0004-3702/subscribe?subscriptiontype=institutional', 'https://www.sciencedirect.com/science/article/pii/S0004370221000862', 'https://www.sciencedirect.com/science/article/pii/S0004370221000722', 'https://www.sciencedirect.com/science/article/pii/S0004370215000910', 'https://www.sciencedirect.com/science/article/pii/S0004370298000551', 'https://www.sciencedirect.com/science/article/pii/S0004370216300790', 'https://www.sciencedirect.com/science/article/pii/S0004370218305988', 'https://www.sciencedirect.com/science/article/pii/S0004370220301855', 'https://www.sciencedirect.com/science/article/pii/S0004370214001386', 'https://www.sciencedirect.com/science/article/pii/S0004370299000521', 'https://www.sciencedirect.com/science/article/pii/S0004370219300116', 'https://www.sciencedirect.com/science/article/pii/S0004370220301533', 'https://www.sciencedirect.com/science/article/pii/S0004370207000793', 'https://www.sciencedirect.com/science/article/pii/S0004370216300285', 'https://www.sciencedirect.com/science/article/pii/S0004370220301958', 'https://www.sciencedirect.com/science/article/pii/S0004370297000635', 'https://www.sciencedirect.com/science/article/pii/S0004370221000515', 'https://www.sciencedirect.com/science/article/pii/S0004370221000539', 'https://www.sciencedirect.com/science/article/pii/S0004370221000096', 'https://www.sciencedirect.com/science/article/pii/S0004370216300868', 'https://www.sciencedirect.com/science/article/pii/S0004370221000588', 'https://www.sciencedirect.com/science/article/pii/S0004370221000102', 'https://www.sciencedirect.com/science/article/pii/S0004370213001082', 'https://www.sciencedirect.com/science/article/pii/S000437029700043X', 'https://www.sciencedirect.com/science/article/pii/S0004370221000734', 'https://www.sciencedirect.com/science/article/pii/S0004370209001398', 'https://www.sciencedirect.com/science/journal/00043702', 'https://www.sciencedirect.com/user/alerts', 'https://www.sciencedirect.com/user/register?utm_campaign=sd_recommender_ELSJLS&utm_channel=elseco&dgcid=sd_recommender_ELSJLS', 'http://www.elsevier.com/authors/home', 'https://www.editorialmanager.com/artint/default.aspx', 'https://www.editorialmanager.com/artint/default.aspx', 'https://researcheracademy.elsevier.com', 'https://www.elsevier.com/about/policies/copyright/permissions', 'https://webshop.elsevier.com', 'https://service.elsevier.com/app/home/supporthub/publishing/#authors', 'https://authors.elsevier.com/tracking/landingpage/selection.do', 'https://www.elsevier.com/librarians', 'https://www.elsevier.com/journals/artificial-intelligence/0004-3702/subscribe?subscriptiontype=institutional', 'http://www.elsevier.com/editors', 'http://www.elsevier.com/editors/perk', 'https://www.elsevier.com/editors/guest-editors', 'https://service.elsevier.com/app/home/supporthub/publishing/#editors', 'http://www.elsevier.com/reviewers', 'https://www.elsevier.com/reviewers/how-to-review', 'https://www.editorialmanager.com/artint/default.aspx', 'https://www.elsevier.com/reviewers/becoming-a-reviewer-how-and-why#recognizing', 'https://service.elsevier.com/app/home/supporthub/publishing/#reviewers', 'https://www.elsevier.com', '//www.elsevier.com/legal/elsevier-website-terms-and-conditions', '//www.elsevier.com/legal/privacy-policy', '//www.elsevier.com/legal/cookienotice', '//www.elsevier.com/sitemap', 'https://www.relx.com/']

In [13]:
#9) Write a python program to scrape mentioned details from dineout.co.in :
#i) Restaurant name ii) Cuisine iii) Location iv) Ratings v) Image URL



from bs4 import BeautifulSoup   # import required libraries
import requests
import pandas as pd
page=requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special") # send request to get the source code
page

soup=BeautifulSoup(page.content)   # page content
soup


name=[]  # make an empty variable
for n in soup.find_all('a',class_="restnt-name ellipsis"): #for loop to scrap the data and put it in variable name
    name.append(n.get_text().strip())
print("\n Restraunt_name: \n",name)  # print name


location=[]   # make an empty variable

for l in soup.find_all('div',class_="restnt-loc ellipsis"):  #for loop to scrap the data and put it in variable location
    location.append(l.get_text())
print("\n Location: \n",location)    # print location


ratings=[]    # make an empty variable

for r in soup.find_all('div',class_="restnt-rating rating-4"):   #for loop to scrap the data and put it in variable rating
    ratings.append(r.get_text())
print("\n ratings: \n",ratings)  # print rating


images=[]    # make an empty variable

for i in soup.find_all('img',class_="no-img"): #for loop to scrap the data and put it in variable images
    images.append(i.get('data-src'))
print("\n Images_url: \n",images)    # print images

cuisine=[]    # make an empty variable

for c in soup.find_all('span',class_="double-line-ellipsis"):   #for loop to scrap the data and put it in variable cuisine
    cuisine.append(c.text.split('|')[1])
print("\nCuisine:\n",cuisine)  # print cuisine

df= pd.DataFrame({'Rstraunt name':name,'Location':location,'Cuisine':cuisine,'Images_url':images,'Ratings':ratings})  # make dataframe
df   # print dataframe

 Restraunt_name:
 ['Castle Barbeque', 'Jungle Jamboree', 'Castle Barbeque', 'Cafe Knosh', 'The Barbeque Company', 'India Grill', 'Delhi Barbeque', 'The Monarch - Bar Be Que Village', 'Indian Grill Room']

 Location:
 ['Connaught Place, Central Delhi', '3CS Mall,Lajpat Nagar - 3, South Delhi', 'Pacific Mall,Tagore Garden, West Delhi', 'The Leela Ambience Convention Hotel,Shahdara, East Delhi', 'Gardens Galleria,Sector 38A, Noida', 'Hilton Garden Inn,Saket, South Delhi', 'Taurus Sarovar Portico,Mahipalpur, South Delhi', 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad', 'Suncity Business Tower,Golf Course Road, Gurgaon']

 ratings:
 ['4.1', '3.9', '3.9', '4.3', '4', '3.9', '3.6', '3.8', '4.3']

 Images_url:
 ['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/p/m/p59633-166088382462ff137009010.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/d/i/p52501-1661855212630de5eceb6d2.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium']

Cuisine:
 [' Chinese, North Indian', ' North Indian, Asian, Italian', ' Chinese, North Indian', ' Italian, Continental', ' North Indian, Chinese', ' North Indian, Italian', ' North Indian', ' North Indian', ' North Indian, Mughlai']

,Rstraunt name,Location,Cuisine,Images_url,Ratings
0,Castle Barbeque,"Connaught Place, Central Delhi","Chinese, North Indian",https://im1.dineout.co.in/images/uploads/resta...,4.1
1,Jungle Jamboree,"3CS Mall,Lajpat Nagar - 3, South Delhi","North Indian, Asian, Italian",https://im1.dineout.co.in/images/uploads/resta...,3.9
2,Castle Barbeque,"Pacific Mall,Tagore Garden, West Delhi","Chinese, North Indian",https://im1.dineout.co.in/images/uploads/resta...,3.9
3,Cafe Knosh,"The Leela Ambience Convention Hotel,Shahdara, ...","Italian, Continental",https://im1.dineout.co.in/images/uploads/resta...,4.3
4,The Barbeque Company,"Gardens Galleria,Sector 38A, Noida","North Indian, Chinese",https://im1.dineout.co.in/images/uploads/resta...,4
5,India Grill,"Hilton Garden Inn,Saket, South Delhi","North Indian, Italian",https://im1.dineout.co.in/images/uploads/resta...,3.9
6,Delhi Barbeque,"Taurus Sarovar Portico,Mahipalpur, South Delhi",North Indian,https://im1.dineout.co.in/images/uploads/resta...,3.6
7,The Monarch - Bar Be Que Village,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",North Indian,https://im1.dineout.co.in/images/uploads/resta...,3.8
8,Indian Grill Room,"Suncity Business Tower,Golf Course Road, Gurgaon","North Indian, Mughlai",https://im1.dineout.co.in/images/uploads/resta...,4.3

In [14]:
#10) Write a python program to scrape the details of top publications from Google Scholar from https://scholar.google.com/citations?view_op=top_venues&hl=en
#i) Rank ii) Publication iii) h5-index iv) h5-median



from bs4 import BeautifulSoup   # import required libraries
import requests
import pandas as pd
page=requests.get("https://scholar.google.com/citations?view_op=top_venues&hl=en")# send request to get the source code
page

soup=BeautifulSoup(page.content)  # page content
soup

rank=[]   # make an empty variable rank
for r in soup.find_all('td',class_="gsc_mvt_p"):  # for loop to get the scrapped data and put in an variable
    rank.append(r.get_text())
    
print("\n Rank: \n",rank)   # print rank


publication=[]   # make an empty variable publication

for p in soup.find_all('td',class_="gsc_mvt_t"): # for loop to get the scrapped data and put in an variable
    publication.append(p.get_text().strip())
    
print("\n Publication: \n",publication)  # print publication


h5_index=[]    # make an empty variable h5_index

for i in soup.find_all('a',class_="gs_ibl gsc_mp_anchor"):  # for loop to get the scrapped data and put in an variable
    h5_index.append(i.get_text())
    
print("\n h5_index: \n",h5_index) # print h5_index


h5_median=[]   # make an empty variable h5_median

for i in soup.find_all('span',class_="gs_ibl gsc_mp_anchor"):# for loop to get the scrapped data and put in an variable
    h5_median.append(i.get_text())
    
print("\n h5_median: \n",h5_median)# print h5_median

 Rank:
 ['1.', '2.', '3.', '4.', '5.', '6.', '7.', '8.', '9.', '10.', '11.', '12.', '13.', '14.', '15.', '16.', '17.', '18.', '19.', '20.', '21.', '22.', '23.', '24.', '25.', '26.', '27.', '28.', '29.', '30.', '31.', '32.', '33.', '34.', '35.', '36.', '37.', '38.', '39.', '40.', '41.', '42.', '43.', '44.', '45.', '46.', '47.', '48.', '49.', '50.', '51.', '52.', '53.', '54.', '55.', '56.', '57.', '58.', '59.', '60.', '61.', '62.', '63.', '64.', '65.', '66.', '67.', '68.', '69.', '70.', '71.', '72.', '73.', '74.', '75.', '76.', '77.', '78.', '79.', '80.', '81.', '82.', '83.', '84.', '85.', '86.', '87.', '88.', '89.', '90.', '91.', '92.', '93.', '94.', '95.', '96.', '97.', '98.', '99.', '100.']

 Publication:
 ['Nature', 'The New England Journal of Medicine', 'Science', 'IEEE/CVF Conference on Computer Vision and Pattern Recognition', 'The Lancet', 'Advanced Materials', 'Nature Communications', 'Cell', 'International Conference on Learning Representations', 'Neural Information Processing Systems', 'JAMA', 'Chemical Reviews', 'Proceedings of the National Academy of Sciences', 'Angewandte Chemie', 'Chemical Society Reviews', 'Journal of the American Chemical Society', 'IEEE/CVF International Conference on Computer Vision', 'Nucleic Acids Research', 'International Conference on Machine Learning', 'Nature Medicine', 'Renewable and Sustainable Energy Reviews', 'Science of The Total Environment', 'Advanced Energy Materials', 'Journal of Clinical Oncology', 'ACS Nano', 'Journal of Cleaner Production', 'Advanced Functional Materials', 'Physical Review Letters', 'Scientific Reports', 'The Lancet Oncology', 'Energy & Environmental Science', 'IEEE Access', 'PLoS ONE', 'Science Advances', 'Journal of the American College of Cardiology', 'Applied Catalysis B: Environmental', 'Nature Genetics', 'BMJ', 'Circulation', 'European Conference on Computer Vision', 'International Journal of Molecular Sciences', 'Nature Materials', 'Chemical engineering journal', 'AAAI Conference on Artificial Intelligence', 'Journal of Materials Chemistry A', 'ACS Applied Materials & Interfaces', 'Nature Biotechnology', 'The Lancet Infectious Diseases', 'Frontiers in Immunology', 'Applied Energy', 'Nano Energy', 'Nature Energy', 'Meeting of the Association for Computational Linguistics (ACL)', 'The Astrophysical Journal', 'Gastroenterology', 'Nature Methods', 'IEEE Transactions on Pattern Analysis and Machine Intelligence', 'Cochrane Database of Systematic Reviews', 'Blood', 'Neuron', 'Nano Letters', 'Morbidity and Mortality Weekly Report', 'European Heart Journal', 'Nature Nanotechnology', 'ACS Catalysis', 'Nature Neuroscience', 'American Economic Review', 'Journal of High Energy Physics', 'IEEE Communications Surveys & Tutorials', 'Annals of Oncology', 'Nutrients', 'Accounts of Chemical Research', 'Immunity', 'Environmental Science & Technology', 'Nature Reviews. Molecular Cell Biology', 'Gut', 'Physical Review D', 'ACS Energy Letters', 'Monthly Notices of the Royal Astronomical Society', 'Conference on Empirical Methods in Natural Language Processing (EMNLP)', 'Clinical Infectious Diseases', 'Cell Metabolism', 'Nature Reviews Immunology', 'Joule', 'Nature Photonics', 'International Journal of Environmental Research and Public Health', 'Environmental Pollution', 'Computers in Human Behavior', 'Frontiers in Microbiology', 'Nature Physics', 'Small', 'Cell Reports', 'Molecular Cell', 'Clinical Cancer Research', 'Bioresource Technology', 'Journal of Business Research', 'Molecular Cancer', 'Sensors', 'Nature Climate Change', 'IEEE Internet of Things Journal']

 h5_index:
 ['444', '432', '401', '389', '354', '312', '307', '300', '286', '278', '267', '265', '256', '245', '244', '242', '239', '238', '237', '235', '227', '225', '220', '213', '211', '211', '210', '207', '206', '202', '202', '200', '198', '197', '195', '192', '191', '190', '189', '186', '183', '181', '181', '180', '178', '177', '175', '173', '173', '173', '172', '170', '169', '167', '166', '165', '165', '165', '165', '164', '164', '163', '163', '163', '163', '162', '160', '160', '159', '159', '159', '159', '158', '158', '155', '155', '155', '155', '155', '154', '153', '153', '152', '152', '152', '152', '152', '152', '151', '151', '150', '149', '149', '146', '146', '145', '145', '145', '144', '144']

 h5_median:
 ['667', '780', '614', '627', '635', '418', '428', '505', '533', '436', '425', '444', '364', '332', '386', '344', '415', '550', '421', '389', '324', '311', '300', '315', '277', '273', '280', '294', '274', '329', '290', '303', '278', '294', '276', '246', '297', '307', '301', '321', '253', '265', '224', '296', '220', '223', '315', '296', '228', '217', '232', '314', '304', '234', '254', '296', '293', '243', '229', '231', '207', '302', '265', '264', '220', '248', '263', '220', '304', '243', '214', '211', '242', '214', '340', '235', '217', '212', '194', '249', '278', '211', '292', '233', '228', '225', '222', '214', '225', '222', '196', '205', '202', '201', '190', '233', '209', '201', '228', '212']